/* Font */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* down work */

.body{
  background-image: url(../image/dice-fon.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin: 0% auto;
}

.hader-main{
  max-width: 1300px;
  height: 100px;
  padding: 5px 5px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: white;
  position: relative;
}

/* header */
.size-logo{
  width: 60px;
}
.game-site{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 600px;
}
.name-site{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-size: 50px;
  position: absolute;
  top: 5px;
  left: 80px;
}

/* navigation panel */
.navigation{
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* border: 1px solid #000; */
  width: 1280px;
}
.nav1{
  border: 1px solid #000;
  position: absolute;
  bottom: -8px;
  width: 1090px;
  height: 25px;

}

.nav-main{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  min-width: 50px;
}
.nav-news{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  min-width: 50px;
}
.nav-galery{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  min-width: 50px;
}
.nav-for-us{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  min-width: 50px;
}
.nav-search{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  min-width: 50px;
  position: absolute;
  bottom: 0%;
  right: 80px;
}
.nav-profil{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: whitesmoke;
  min-width: 50px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}




.main{

  max-width: 1300px;
  height: 900px;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: white;
}

.main-content{  
  border: 1px solid #000;
  padding: 50px 25px;
  max-width: 85%;
}







.sidebar{
  position: relative;
  left: 85%;
  bottom: 340px;
  padding: 50px 0px 0px 10px;
  max-width: 15%;
  border: 1px solid #000;
}

.size-facebook{
  max-width: 23px;
}
.size-instagram{
  max-width: 17px;
}
.size-mail{
  max-width: 20px;
}
.size-telegram{
  max-width: 20px;
}
.size-telephone{
  max-width: 20px;
}
.size-viber{
  max-width: 40px;
}





.footer-main{
  position: relative;
  max-height: 80px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 5px;
  border: 1px solid #000;
  background-color: white;
}

.contact{
  position: absolute;
  bottom: 28px;
  left: 150px;
}

.sponsors{
  position: absolute;
  bottom: 50px;
  left: 400px;
  border: 1px solid #000;
}